.place-page {
  @include set-size(100%, 100%);
  padding: 20px 40px;
  box-sizing: border-box;
}

.place {
  &__details {
    @include flex($content: space-between);

    @include screen-lg() {
      @include flex($direction: column);

    }
  }
}

.finish_btn{
  @include set-size(50%, 50px);
  background-color: rgb(0, 255, 128);
  @include font($font-size: 1rem, $line-height: $line-height-sm, $color: $black);
  border-radius: 20px;
  position: absolute;
  bottom: 10px; 
  left: 50%; 
  transform: translateX(-50%);
}

.question{
  padding-top: 40px;
}