.header{
  @include flex($items:center, $content:space-between);
  padding: 1%;
  font-weight: bold;
  background-color: $color-theme-grey;

  &__user {
    display: flex;
    cursor: pointer;
  }
  
  &__icon {
    margin-right: 10px;

    & img {
      width: 20px;
    }
  }
}