.places__table {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(900px, 1fr));
  gap: 20px;
  justify-content: center; 
  padding: 20px; 

  @include screen-xxl {
    grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
    padding: 20px 30px;
  }
  @include screen-lg {
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    padding: 20px 30px;
  }
  @include screen-md {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    padding: 20px 30px;
  }
}
